.console {
    padding: 2px 4px;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    width: 350px;
    height: 150px;
    background: #00800099;
    box-shadow: 0 0 4px 2px #9d8989b3;
    z-index: 1000;
}

.console .line {
    font-size: 12px;
    color: white;
}

/**
   https://www.cnblogs.com/juqian/p/6273808.html
 */
.console::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.console::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.console::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.g {
    position: relative;
    max-width: 100%;
    width: 450px;
}

img {
    max-width: 100%;
}

.wrapper {
    border-bottom: 2px solid red;
}

.title {
    /*color: green;*/
}

.content {
    /*color: black;*/
}

.footer {
    font-weight: bold;
    /*color: darkslategray;*/
    font-size: 24px;
}